<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Form</title>
</head>
<body>
    <h1>Enter Details</h1>
    <form method="POST" action="{% url 'shorts_questions' %}">
        {% csrf_token %}
        <label for="subject_name">Subject Name:</label>
        <input type="text" id="subject_name" name="subject_name" required><br><br>
        
        <label for="chapter_name">Chapter Name:</label>
        <input type="text" id="chapter_name" name="chapter_name" required><br><br>
        
        <label for="amount_of_questions">Amount of Questions:</label>
        <input type="number" id="amount_of_questions" name="amount_of_questions" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
